html {

}

body {

}

.search-bar {
    width: 100%;
    height: 50px;
    background-color: lightgray;
}

.logo-header {
    text-align: center;
}

.links-bar {
    text-align: center;
    width: 100%;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.links-bar-item {
    display: inline-block;
    font-size: 1.25em;
    opacity: 0.6;
    padding: 10px;
    cursor: pointer;
}

.links-bar-item:hover {
    opacity: .8;
}

.links-bar-item:not(last-of-type) {
    border-left: 1px;
    border-left-style: solid;
    border-left-color: lightgray;
}

.links-bar-item:last-of-type {
    border-right: 1px;
    border-right-color: lightgray;
    border-right-style: solid;
}

.featured-items {
    text-align: center;
    width: 100%;
    border-bottom: 1px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.featured-item {
    display: inline-block;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.featured-item:not(first-of-type) {
    padding-left: 10px;
}

.featured-item:not(last-of-type) {
    padding-right: 10px;
}

.featured-item:first-of-type {
    padding-left: 25px;
}

.featured-item:last-of-type {
    padding-right: 25px;
}

.featured-item-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.featured-item-image > img {
    /*width: 100%;*/
    /*height: auto;*/
    max-width: 500px;
    max-height: 400px;
    min-width: 150px;
    min-height: 100px;
}

.featured-item-header {
    position: absolute;
    bottom: 6px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    color: white;
}

.main-body-content {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.content-area {
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
    margin-bottom: 25px;
}

.content-section {
    display: inline-block;
    width: 90%;
}

.content-sidebar {
    vertical-align: top;
    display: inline-block;
    width: 10%;
    text-align: center;
    margin-top: 20px;
}

.content-sidebar > i {
    margin-right: 0px;
}

.content-sidebar > * {
    display: block;
}

.content-section > img,
.content-section > video {
    width: 100%;
}

.content-section > p {
    width: 85%;
}

.icon { 
    text-align: center;
}

.icon-text {
    margin-bottom: 15px;
}

.material-icons {
    cursor: pointer;
}

.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54); 
}

.material-icons.md-dark:hover {
    color: rgba(0, 0, 0, 0.75);
}

.shared-from > * {
    vertical-align: middle;
    padding: 2px;
}